#results {
  
  /* Substitua o display: none por estes três: */
  opacity: 0;
  visibility: hidden;
  pointer-events: none; 
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  overflow-y: auto;
  width: 600px;
  max-width: 90vw;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(50px);
  padding: 10px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  /* Transição suave */
  transition: opacity 0.5s ease, visibility 0.5s ease;
  right: 0;
  margin-right: 2% ;
}

#results.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; /* Permite clicar nos resultados quando visível */
}

.search-card {
  position: relative;
  width: 100%;
  aspect-ratio: 16/8;
  border-radius: 8px;
  overflow: hidden;
}

.search-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.search-overlay {
  position: absolute;
  inset: 0; /* cobre toda a imagem */
  display: flex;
  align-items: flex-end; /* título na parte inferior */
  justify-content: center;
  text-align: center;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1));
  color: white;
  font-weight: 600;
  pointer-events: none; /* deixa o clique passar para o <a> */
}


.search-title {
  font-weight: 600;
  font-size: 16px;
}

@media(max-width: 980px){
  #results{
    display: flex;
    flex-direction: column;
  }
}
