body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #003566;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p { text-indent: 2em; 
    text-align: justify;}


#titulo{
    font-family: 'Times New Roman', Times, serif;
}

.titulo{
    color: white;
    padding: 10px;
}

.titulo a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.titulo h1{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

/* conteudo */

.corpo{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 97%;
    border-radius: 25px;
}

.cabecalho{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.capa{
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    max-width: 700px;
}

.data{
    color: #c1121f;
    text-indent: 0;
}

.categoria{
    text-indent: 0;
}

.conteudo{
    font-size: 18px;
}

@media (max-width: 600px){
    .conteudo{ 
        font-size: 16px;
    }
}

footer p{
    text-align: center;
    font-size: 14px;
    text-indent: 0;
    color: white;
}

/* chat */





