body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #003566;
    display: flex;
    justify-content: end;
    align-items: center;
}

.box-conteudo{
    display: flex;
    width: 70vw;
    background-color: white;
    height: 50vh;
}

.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.texto{
    flex: 0 0 600px
}

.eu{
    position: absolute;
    top: 50vh;
    left: 0;
    height: 700px;
    max-width: 50vw;
    margin-top: -350px;
}
