/* 1. Cria o efeito de surgimento */
@keyframes entrarSuave {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* 2. Aplica ao body */
body {
    animation: entrarSuave 0.5s ease-in; /* Aparece em 1.5 segundos */
    margin: 0px;
    padding: 0px;
    background-color: #003566;
}

.corpo{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    border-radius: 25px;
    padding: 30px 4% 30px 4%;
    gap: 30px;
    width: 100%;
}

.titulo{
    padding: 10px;
    font-size: 50px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-family: 'Times New Roman', Times, serif;
    /* text-shadow: 4px 4px 0 #404040; */
    display: flex;
    justify-content: center;
}

.caixa-barra-pesquisa{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.caixa-barra-pesquisa input{
    border-radius: 6px;
    border: solid 3px #404040;
    width: 300px;
    padding: 17px;
}

h2{padding-left: 10px;border-left: solid 6px #fba211;}
.corpo-wrap{display: flex; width: 100%; padding: 0 2%;}
.titulo a{text-decoration: none; color: white;}
.titulo img{width: 70px; margin-bottom: -15px;}
.caixa-barra-pesquisa input:focus{outline: none; box-shadow: none;}

/* card background*/
.card{  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    height: 300px;
    overflow: hidden;
}
.capa-box{
    height: 300px;
    box-sizing: border-box;
    object-fit: contain;
}

.capa{
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
    display: block;
    height: 100%;
}

.card a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.text-box-card{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #495057;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.data{color: #c1121f;}

.card:nth-child(4n+1):hover {background: #faeef0;}
.card:nth-child(4n+2):hover {background: #fdf6f2;}
.card:nth-child(4n+3):hover {background: #f7f6f3;}
.card:nth-child(4n+4):hover {background: #eef3ef;}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 40px 0 10px 0;
}

/* todo o conteudo incluindo o menu */
.menu {
    padding: 30px 0 0 30px;
    position: sticky;
    top: 0px;
    align-self: flex-start;
}

.meio{display: flex;}
.menu img{cursor: pointer; width: 50px;}

/* estado fechado */
.menu-content {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 0.4s ease, opacity 0.3s ease;
    color: white;
}

/* estado aberto */
.menu.open .menu-content {max-width: 200px; opacity: 1;}
.menu-content {color: white;}


/* cadastro de email no site para envio de novos posts */

.email{
    padding: 5px;
    background-color: #414b55;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    border: 2px solid #404040;
}


.botao{
    padding: 5px;
    font-weight: 700;
    color: white;
    background-color: #970a14;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.email:focus{outline: none; box-shadow: none;}
/* variaveis para dispositivos moveis */

@media (max-width: 1100px){
    .corpo{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: 0;
    }

    .corpo-wrap{padding: 0 2%;}

    .capa-box{width: 100%; padding: 0;}

    .capa{
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 15px 15px 0 0;
    }

    .card{
        box-shadow: none;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .card:nth-child(4n+1):hover {background: none;}
    .card:nth-child(4n+2):hover {background: none;}
    .card:nth-child(4n+3):hover {background: none;}
    .card:nth-child(4n+4):hover {background: none;}
    .menu img{width: 20px;}
    .menu {padding: 10px 0 0 10px;}
}