body{
    padding: 0px;
    margin: 0px;
}

/* menu */

#menu{
    background-color: #14213d;
    margin: 0px;
    height: 60px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
}

#menu a{
    position: relative;
    text-align: center;
    top: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    margin: 0px;
}

/* conteudo */

.corpo{
    width: 60%;
    position: relative;
    left: 50%;
    margin-left: -30%;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.corpo article{
    padding: 0px 20px 0 20px;
}

.corpo h1{
    font-family: Arial, Helvetica, sans-serif;
}

.corpo em{
    color: #c1121f;
}

.box-image{
    position: relative;
    left: 50%;
    width: 100%;
    margin-left: -45%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.capa-interna{
    width: 90%;
    border-radius: 30px;
}

.conteudo-noticia{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
}

@media (max-width: 1080px) {
    .corpo{
        width: 100%;
        margin-left: -50%;
    }
}