body{
    margin: 0px;
    padding: 0px;
    background-color: #003566;
}

.corpo{
    margin-top: 10px;
    top: 40px;
    width: 98%;
    gap: 20px;
    padding: 40px 0 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
}

.corpo-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo{
    padding: 10px;
    font-size: 50px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-family: 'Times New Roman', Times, serif;
    /* text-shadow: 4px 4px 0 #404040; */
    display: flex;
    justify-content: center;
}

.titulo a{
    text-decoration: none;
    color: white;
}

.titulo img{
    width: 70px;
    margin-bottom: -15px;
}

.caixa-barra-pesquisa{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.caixa-barra-pesquisa input{
    border-radius: 6px;
    border: solid 3px #404040;
    width: 300px;
}

.caixa-barra-pesquisa input:focus{
    outline: none;
    box-shadow: none;
}



/* card background*/
.card{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);
    width: 70%;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    transition: all 0.2s ease-out;
    max-width: 800px;
}
.card:nth-child(4n+1):hover {
    background: #faeef0;
}

.card:nth-child(4n+2):hover {
    background: #fdf6f2;
}

.card:nth-child(4n+3):hover {
    background: #f7f6f3;
}

.card:nth-child(4n+4):hover {
    background: #eef3ef;
}


/* card */

.capa-box{
    padding: 30px;
    box-sizing: border-box;
}

.capa{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    display: block;
    height: 450px;
}

.card a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.text-box-card{
    padding: 0px 40px 40px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #495057;
    box-sizing: border-box;
}

.description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.data{
    color: #c1121f;
}

@media (max-width: 1000px){

    .corpo{
        width: 98%;
    }
    
    .capa{
        height: 250px;
    }

    .card{
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }

    .card:nth-child(4n+1):hover {
        background: white;
    }

    .card:nth-child(4n+2):hover {
        background: white;
    }

    .card:nth-child(4n+3):hover {
        background: white;
    }

    .card:nth-child(4n+4):hover {
        background: white;
    }
}

footer{
    display: flex;
    justify-content: center;
    color: white;
}

