@keyframes entrarSuave {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}

.box-img img{
    animation: moeda-efeito 2s ease-in-out infinite alternate;
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

@keyframes moeda-efeito {
    0%{
        transform: scale(1, 1);
    }   
    50%{
        transform: scale(0.01, 1.2); 
    }
    100%{
        transform: scale(-1, 1); 

    } 
}

body{
    animation: entrarSuave 0.5s ease-in;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.background{
    width: 100vw;
    position: absolute;
    z-index: 0;
    height: 100vh;
    object-fit: cover;
}

.wrap{
    z-index: 1;
    max-width: 90vw;
    flex: 1;
}

.box{
    z-index: 1;
    backdrop-filter: blur(10px);
    background-color:rgba(255, 255, 255, 0.671);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: 90vw;
    width: 400px;
}

.box-img{
    z-index: 1;
    flex: 1;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
}

.email{
    padding: 5px;
    background-color: #414b55;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    border: 2px solid #404040;
}

.email:focus{
    outline: none;
    box-shadow: none;
}

.botao{
    padding: 5px;
    font-weight: 700;
    color: white;
    background-color: #970a14;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}